<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contactos
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar color="light"
                   placeholder="Buscar"
                   [(ngModel)]="termino"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let contacto of parteContactos | filtro: termino">      
      <ion-label class="ion-text-wrap" (click)="mostrarContacto(contacto.code)">
        <ion-chip color="primary">{{ contacto.code }}</ion-chip> 
        <ion-chip color="primary">{{ contacto.nombre }}</ion-chip> 
      </ion-label>    
    </ion-item>
  </ion-list>
  
</ion-content>
